:root {
  --colorOne: #5dabdb;
  --colorTwo: #bf5b4f;
  --colorThree: #bd914f;
}

html {
  /* background: thistle; */
  /* Header font*/
  /* font-family: 'Dancing Script', cursive; */
  /* Everything else Font */
  font-family: 'Merienda', cursive;

  background-color: var(--colorOne);
  /* background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");*/
  background-image: url("../assets/always-grey.png");
  min-width: 400px;
}

.container {
  width: 95%;
  margin: auto;
  letter-spacing: 1px;

}

h1 {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 2px;
  font-size: 2em;
  background: var(--colorTwo);
  /* background-image: url("../assets/always-grey.png"); */
  padding: 15px;
  border-radius: 10px;
  text-align: center;

}

.wrapper {
  background: var(--colorThree);
  border-radius: 10px;
  margin: 25px 0;
}

.flexy {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

input {
  padding: 4px;
  margin: 10px;
  /* border-radius: 10px; */

}

form {
  padding: 10px;
}

.flexy form{

}

.button {
  font-family: 'Merienda', cursive;
  background-color: var(--colorTwo);
  color: white;
  border: 2px solid var(--colorThree);
  border-radius: 4px;
  padding: 4px;
  /* font-size: 1.1em; */
}

.button:hover {
  cursor: pointer;
  background-color: var(--colorThree);
  color: black;
  border: 2px solid var(--colorTwo);
}

.displayCard {
  width: 20%;
  min-width: 250px;
  background: var(--colorThree);
  border-radius: 10px;
  margin: 20px;
}

.center {
  text-align: center;
}

li {
  list-style-type: none;
}

.subheader {
  text-decoration: underline;
  font-weight: 800;
}

h4 {
  margin-bottom: 0;
  margin-left: 24px;
}

button {
  margin-left: 12px;
}
